<div class="container pb-5">
    <ng-container *ngFor="let project of projects">
      <div class="row d-flex align-items-center justify-content-between pb-2 pt-2">
      <div class="col-md-2">
        <img src="{{project.owner.avatar_url}}" height="100%" width="100%" alt="user image">
      </div>
      <div class="col-md-10">
        <p><b>{{project.name}}</b></p>
        <p>{{project.description}}</p>
        <div class="d-inline-flex">
          <div  class="bg-info font-weight-light pl-2 pr-2 ml-2 mr-2 rounded text-white">Stars : {{project.stargazers_count}}</div>
          <div class="bg-info font-weight-light pl-2 pr-2 ml-2 mr-2 rounded text-white">Issues  : {{project.open_issues_count}}</div>
          <div class="font-weight-light pl-2 pr-2"> submitted {{project.updated_at}} days ago by {{project.owner.login}}</div>
        </div>
      </div>
      </div>
    </ng-container>
    <ngb-pagination class="d-flex justify-content-center"
    [(page)]="page"
    [pageSize]="projects.length"
    [collectionSize]="maxCollectionSize"
    [maxSize]="5" (pageChange)="getAllProjects(page)"></ngb-pagination>
</div>
